.baner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  &__title{
  color: $colorFont;
  font-size: 50px;
  margin-left: 150px;

  @media (max-width: 976px){

    font-size: 30px;
    margin-left: 100px;

  }
  @media (max-width: 810px){

    font-size: 20px;
    margin-left: 60 px;

  }

}
    &__paragraph{
    color: $colorFont;
    margin-left: 150px;
    @media (max-width: 976px){

      font-size: 12px;
      margin-left: 100px;
  
    }
    @media (max-width: 810px){
  
      font-size: 10px;
      margin-left: 60px;
  
    }
}
&__sectionImg{
  width: 60%;
}
&__img{
  width: 100%;
}




}








