.header{
    display: flex;
    align-items: center;


    &__logo{
        width: 10%;

        
    }
    &__texto{
        font-size: 16px;
        @media (max-width: 976px){
            font-size: 12px;
        }
        @media (max-width: 810px){
            font-size: 10px;
        }

    }

}
.header p{
    margin-left: 40px;
    
    
}
.header img{
    margin-left: 15px;
}